@using BaseEAM.Services.Security
@model PurchaseOrderItemModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;
    var primarySystemCurrencySymbol = EngineContext.Current.Resolve<BaseEAM.Core.IWorkContext>().WorkingCurrency.CurrencySymbol;

    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.Purchasing_PurchaseOrder_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.Purchasing_PurchaseOrder_Read);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.Purchasing_PurchaseOrder_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.Purchasing_PurchaseOrder_Delete);
}
<div id="group-purchaseOrderItems" class="panel-group" data-bind="visible: !isNew()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="createPurchaseOrderItem" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.AddNew")">
                <i class="fa fa-plus-square"></i>
            </button>
            <button type="button" id="createPurchaseOrderItems" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.AddMultiple")">
                <i class="fa fa-angle-double-down"></i>
            </button>
            <button type="button" id="deleteSelectedPurchaseOrderItems" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.Delete.Selected")">
                <i class="fa fa-trash-o"></i>
            </button>
            <button type="button" id="createReceipt" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("PurchaseOrder.CreateReceipt")">
                @T("PurchaseOrder.CreateReceipt")
            </button>
        </div>
        <div class="panel-body">
            <div id="purchaseOrderItems-grid"></div>
            <script>
                var gridCheckboxHandler = new BaseEam.CheckBoxHandler('purchaseOrderItems-grid');
                gridCheckboxHandler.init();

                $(document).ready(function () {
                    $("#purchaseOrderItems-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("PurchaseOrderItemList", "PurchaseOrder"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                },
                                parameterMap: function(data, operation) {
                                    sortMapping = [
                                        {
                                            from: "ItemName", to: "Item.Name",
                                            from: "ItemUnitOfMeasureName", to: "Item.UnitOfMeasure.Name"
                                        }
                                    ];
                                    BaseEam.Grid.mapSortColumns(data.sort, sortMapping);
                                    return data;
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            aggregate: [
                                        { field: "Subtotal", aggregate: "sum" }
                            ],
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @Html.Partial("_GridPagerMessages")
                        },
                        sortable: true,
                        editable: false,
                        scrollable: false,
                        dataBound: function(e) {
                            gridCheckboxHandler.onDataBound(e);
                        },
                        columns: [{
                            field: "Id",
                            headerTemplate: "<input id='purchaseOrderItems-grid-mastercheckbox' type='checkbox'/>",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                            width: 50,
                            sortable: false
                        },{
                            field: "Sequence",
                            title: "@T("Common.Sequence")"
                        },{
                            field: "ItemName",
                            title: "@T("Item")"
                        },{
                            field: "ItemUnitOfMeasureName",
                            title: "@T("UnitOfMeasure")"
                        },{
                            field: "UnitPrice",
                            title: "@T("PurchaseOrderItem.UnitPrice") [@(primarySystemCurrencySymbol)]",
                            template: '#= UnitPrice != null ? kendo.toString(UnitPrice, "n") : "" #'
                        },{
                            field: "QuantityOrdered",
                            title: "@T("PurchaseOrderItem.QuantityOrdered")",
                            template: '#= QuantityOrdered != null ? kendo.toString(QuantityOrdered, "n") : "" #'
                        }, {
                            field: "QuantityReceived",
                            title: "@T("PurchaseOrderItem.QuantityReceived")",
                            template: '#= QuantityReceived != null ? kendo.toString(QuantityReceived, "n") : "" #'
                        }, {
                            field: "TaxRate",
                            title: "@T("PurchaseOrderItem.TaxRate")",
                            template: '#= TaxRate != null ? kendo.toString(TaxRate, "n") : "" #'
                        }, {
                            field: "TaxAmount",
                            title: "@T("PurchaseOrderItem.TaxAmount")",
                            template: '#= TaxAmount != null ? kendo.toString(TaxAmount, "n") : "" #'
                        }, {
                            field: "Subtotal",
                            title: "@T("PurchaseOrderItem.Subtotal") [@(primarySystemCurrencySymbol)]",
                            template: '#= Subtotal != null ? kendo.toString(Subtotal, "n") : "" #',
                            footerTemplate: '#= sum != null ? kendo.toString(sum, "n") : "" #'
                        }, {
                            field: "Id",
                            headerTemplate: "",
                            width: 100,
                            template: '<button type="button" class="btn btn-primary@(allowRead || allowUpdate ? "" : " none-display")" onclick="editPurchaseOrderItem(event, #=Id#);"></span><i class="fa fa-pencil aria-hidden="true""></i></a>' +
                                    '<button type="button" class="deleteRow btn btn-primary@(allowDelete ? "" : " none-display")" onclick="deletePurchaseOrderItem(event, #=Id#);"></span><i class="fa fa-trash aria-hidden="true""></i></a>',
                            sortable: false
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    function createPurchaseOrderItems(e) {
        e.preventDefault();
        BaseEam.Grid.saveChanges('@Url.Action("CreatePurchaseOrderItems", "PurchaseOrder")', '#createPurchaseOrderItems-grid', '#createPurchaseOrderItems-error', false);
    };

    function editPurchaseOrderItem(e, id){
        e.preventDefault();
        //check if panel-purchaseOrderItem is open => close it before edit
        if($('#panel-purchaseOrderItem').is(":visible")){
            togglePanelPurchaseOrderItem(false);
        }

        var postData = {
            id : id
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("PurchaseOrderItem", "PurchaseOrder"))",
            data: postData,
            success: function(data) {
                //append html
                $("#group-purchaseOrderItems").append(data.Html);

                //apply binding for the newly generated element
                ko.applyBindings(viewModel, $("#panel-purchaseOrderItem")[0]);

                //then toggle the panel
                togglePanelPurchaseOrderItem(true);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                showBSModal({title: 'ERROR', body: thrownError});
            },
            traditional: true
        });
    };

    function deletePurchaseOrderItem(e, id){
        e.preventDefault();
        //check if panel-purchaseOrderItem is open => close it before delete
        if($('#panel-purchaseOrderItem').is(":visible")){
            togglePanelPurchaseOrderItem(false);
        }

        BaseEam.Grid.deleteRow($("#Id").val(), id, "@Url.Action("DeletePurchaseOrderItem", "PurchaseOrder")", "purchaseOrderItems-grid", "", true);
    };

    function additionalData() {
        var data = {
            purchaseOrderId: $("#Id").val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    function togglePanelPurchaseOrderItem(editmode) {
        if (editmode) {
            $('#panel-purchaseOrderItem').show();
            $('#createPurchaseOrderItem').hide();
            $('#createPurchaseOrderItems').hide();
            $('#deleteSelectedPurchaseOrderItems').hide();
            $('#createReceipt').hide();
        }
        else {
            ////remove the panel html so we won't care
            //about dirty change tracking for newly added input tag
            $('#panel-purchaseOrderItem').remove();
            $('#createPurchaseOrderItem').show();
            $('#createPurchaseOrderItems').show();
            $('#deleteSelectedPurchaseOrderItems').show();
            $('#createReceipt').show();
        }
    }

    $(document).ready(function () {
        $("#createPurchaseOrderItem").click(function(e){
            e.preventDefault();
            var postData = {
                purchaseOrderId : $("#Id").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("CreatePurchaseOrderItem", "PurchaseOrder"))",
                data: postData,
                success: function(data) {
                    //append html
                    $("#group-purchaseOrderItems").append(data.Html);

                    //then toggle the panel
                    togglePanelPurchaseOrderItem(true);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    showBSModal({title: 'ERROR', body: thrownError});
                },
                traditional: true
            });
        });

        $("#createPurchaseOrderItems").click(function(e){
            e.preventDefault();
            $.get('@Url.Action("CreatePurchaseOrderItemsView", "PurchaseOrder")', function(data) {
                showBSModal({
                    title: "@T("Common.AddMultiple")",
                    size: "large",
                    body: data,
                    actions: [{
                        label: '@T("Common.Save")',
                        cssClass: 'btn-success',
                        onClick: createPurchaseOrderItems
                    },{
                        label: '@T("Common.Cancel")',
                        cssClass: 'btn-danger',
                        onClick: function(e){
                            $(e.target).parents('.modal').modal('hide');
                        }
                    }]
                });
            });
        });

        $("#deleteSelectedPurchaseOrderItems").click(function(e){
            e.preventDefault();
            BaseEam.Grid.deleteSelectedRows($("#Id").val(), gridCheckboxHandler.selectedIds, "@Url.Action("DeleteSelectedPurchaseOrderItems", "PurchaseOrder")", "purchaseOrderItems-grid", "", true);
        });

        window.EventBroker.subscribe("grid_batch_saved", function (message, data) {
            //hide modal popup
            $('.modal').modal('hide');

            //refresh grid
            var grid = $('#purchaseOrderItems-grid').data('kendoGrid');
            grid.dataSource.page(1);
        });

        $("#createReceipt").click(function (e) {
            e.preventDefault();
            $.when(kendo.ui.ExtOkCancelDialog.show({
                title: "WARNING!",
                message: '@T("Common.AreYouSure")',
                icon: 'k-ext-warning'
            }))
                .done(function (response) {
                    if (response.button == "OK") {
                        var postData = {
                            purchaseOrderId : $("#Id").val()
                        };
                        addAntiForgeryToken(postData);
                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@(Url.Action("CreateReceipt", "PurchaseOrder"))",
                            data: postData,
                            success: function (data) {
                                if (data && data.Errors) {
                                    showBSModal({ title: 'ERROR', body: data.Errors });
                                } else {

                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showBSModal({ title: 'ERROR', body: thrownError });
                            },
                            traditional: true
                        });
                    }
                });
        });
    });
</script>